@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background: url('../images/bg.jpg') no-repeat center;
  background-size: cover;
}

.el-pre-title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.67px;
}

.el-title {
  display: block;
  margin-bottom: 16px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.el-sub-title {
  display: block;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.el-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 1174px;
}

.el-card {
  display: block;
  width: 585px;
  box-shadow: 0 8px 21px 3px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  background-color: #ffffff;
  background-position: right bottom;
  background-repeat: no-repeat;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 125px;
    padding: 4px;
    border-radius: 3px 3px 0 0;
    background-color: #f7f7f7;
  }
  &__title {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 500px;
    padding: 35px 90px 90px 90px;
    ul {
      display: block;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      li {
        display: block;
        margin-bottom: 20px;
        padding-left: 40px;
        background: url('../images/icon_li.png') no-repeat left center;
        background-size: 22px 22px;
        font-size: 18px;
        color: #000000;
        font-weight: 300;
        b,
        strong {
          color: #6ac352;
          font-weight: 800;
        }
      }
    }
  }
  &__button {
    display: inline-block;
    min-width: 200px;
    padding: 18px 26px;
    border-radius: 3px;
    border: 1px solid #ffaa00;
    background-color: #ffb400;
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #000000;
      text-decoration: none;
    }
  }
  &__small-social {
    margin-right: 2px !important;
  }
  &__row {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    &-line {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      p {
        margin: 2px 0 0 0;
        color: rgba(47, 47, 47, 0.48);
        font-size: 12px;
        letter-spacing: 0.5px;
      }
      &:first-child {
        margin-bottom: 6px;
      }
      &>div:first-child {
        display: inline-flex;
        align-items: center;
        width: 24px;
      }
      a {
        display: inline-block;
        margin-right: 5px;
        color: #161515;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.7;
          text-decoration: none;
        }
        strong,
        b {
          color: #161515;
          font-size: 21px;
          font-weight: 700;
        }
      }
    }
  }
}