@media (max-width: 1199px) {
  .el-card__header {
    min-height: 80px;
  }
  .el-card {
    margin-bottom: 20px;
  }
  .el-card__content {
    min-height: 430px;
    padding: 30px 40px;
    ul {
      li {
        b, strong {
          color: #000000;
        }
      }
    }
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {}